extends layout/page-layout.pug 

block styles
    link(rel="stylesheet", href="/style.css")

block main
  section
    h1 Book List
    if prods.length == 0
      h3 There is no book in the list
    else
      each product in prods
        ul.product-list
          li.product-card
            img(src="https://shorturl.at/iJWnI", alt=`${product} Cover`)
            .product-info
              h2= product
              p Book description goes here. This is a brief overview of what the book is about, including its main themes and appeal.
